extends layout
block head
 link(rel='stylesheet', href='/stylesheets/dashboard.css')
block content
  .container-fluid
   .row
    .main
     h1.page-header="文件列表"
     .table-responsive
      table.table.table-striped
       thead
        tr
         th #
         th 文件名称
         th 文件大小 
       tbody
       for mm in myfiles
        tr
         td &nbsp;
         td
          a(href='/list?name='+mm._href) #{mm._name}
         td #{mm._size}
